.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    &::after {
        content: '';
        clear: both;
        display: block;
    }   

    @media (max-width: 768px) {
    width: 95%;
  }
}
